*.pyo
.DS_Store
*.pyc
*.bin
reference.py
LoLtest.py
credentials.py
=======
reference.py

testCode/

build/

dist/

lol.egg-info/

credentials-cogsci.py

test2.py

test.py

season_dist.py

*.ipynb

skiplist.tsv

test3.py
